name: Auth Service CI

on:
  push:
    branches: [ "main" ]
    paths: 
      - 'services/auth-service/**'    
      - 'docker-compose.yml'          
      - '.github/workflows/auth-service-ci.yml' 
  pull_request:
    branches: [ "main" ]
    paths:
      - 'services/auth-service/**'    
      - 'docker-compose.yml'          
      - '.github/workflows/auth-service-ci.yml' 

jobs:
  Auth-Service-Test:
    name: 로그인 서비스 테스트
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run Test with Docker Compose
      run: |
        docker compose --profile auth-service-test -f docker-compose.yml up --build --exit-code-from auth-service-test
      env:
        MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
        MYSQL_DATABASE: auth_db
        MYSQL_USER: ${{ secrets.MYSQL_USER }}
        MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
        
        GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
        GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
        GH_CLIENT_ID: ${{ secrets.GH_CLIENT_ID }}
        GH_CLIENT_SECRET: ${{ secrets.GH_CLIENT_SECRET }}
        NAVER_CLIENT_ID: ${{ secrets.NAVER_CLIENT_ID }}
        NAVER_CLIENT_SECRET: ${{ secrets.NAVER_CLIENT_SECRET }}
    #- name: Tear down Docker Compose
    #  if: always() 
    #  run: docker-compose -f docker-compose.yml down --remove-orphans